body{
    overflow-x: hidden;
}

.col, .row{
}

.line{
    border-right: 1px solid;
    max-width: 24%;
}

.dashboard-container{
    height: 100vh;
    border-right: 1px solid;

}

.viz{
    padding: 0px;
}

.bars{
    margin-top: -30px;
}

.legenda{
    margin: 0px 24px 48px 48px;
}

.bottone{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    border-right: 1px solid;
    border-bottom: 1px solid;
    padding: 40px 0px;
    height: 100%;
    text-align: center;
}

@media (max-width: 1600px) {

    .line{
        max-width: 28%;
    }
  
  }
  
  @media (max-width: 1400px) {

    .line{
        max-width: 31%;
    }
  
  }
  
  @media (max-width: 1100px) {

    .line{
        max-width: 35%;
    }
  
  }
  

  @media (max-width: 600px) {

    body{
        overflow:auto;
    }

    .legenda{
        margin: 80px 24px 48px 24px;
    }

    .line{
        max-width: 100%;
        border-bottom: 1px solid;
    }

    .dashboard-container{
        display: block;
    }

    .viz{
        margin: 24px;
        height: 50%!important;
    }
  
  }
  